.App {
  text-align: center;
}

#logo {
  height: 40px;
  margin-left: 100px;
}



 #container {
  background-color: #000;
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#form {
  border: 10px solid rgb(26, 24, 24);
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(26, 24, 24);
  width: 300px;
  height: 250px;
}

#formItems {
  margin-top: 20px;
}
label {
  font-size: 11px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

a {
  padding-left: 162px;
  font-size: 12px;
  text-decoration: underline;
  color: rgb(164, 149, 233);
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}



input {
  width: 300px;
  height: 25px;
  background-color: rgb(26, 24, 24);
  border-radius: 5px;
  color: white;
}
input ::placeholder {
  color: grey;
  font-size: 16;
  font-family: 'IBM Plex Sans';
  font-weight: '400';
  line-height: 22;
}

#password {
  font-family: 'iBM Plex Mono';
}

button {
  margin-left: 2px;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: rgb(101, 95, 222);
  margin-top: 20px;
  color: white;
  cursor: pointer;
}

.password-input {
  position: relative;
}



#showIcon {
  background-color: transparent;
  padding: 0;
  border: none;
  position: absolute;
  right: -5px; /* Adjust the position of the icon */
  top: -16px; /* Adjust the position of the icon */
  cursor: pointer;
  width: 25px;
  height: 20px;
}

#showIcon img {
  background-color: rgb(26, 24, 24);
  width: 25px;
  height: 20px;

}
.input-container {
  position: relative;
}

.error-bubble {
  position: absolute;
  background-color: grey;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  top: 0;
  margin-left: 105%;
  margin-top: 20px;
  white-space: nowrap;
}

